<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Fantasy City Generator</title>
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.21/b-1.6.3/b-html5-1.6.3/datatables.min.css" />
</head>

<body class="bg-light">

    <div class="container-lg px-5" id="citygenapp">
        <p class="display-1 text-center">
            Fantasy City Generator
        </p>

        <p class="text-center">
            <a href="https://paypal.me/praxxian?locale.x=en_US">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dice-6"
                    viewBox="0 0 16 16">
                    <path
                        d="M13 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h10zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3z" />
                    <path
                        d="M5.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-8 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                </svg>
                Buy me dice.</a>
        </p>

        <div class="row">
            <div class="col-3" id="settings_col">
                <div class="row my-1">
                    <div class="col text-center">
                        <button class="btn btn-success btn-lg" @click="generate()"
                            :disabled="generateDisabled || isLoading">
                            <div v-if="isLoading">
                                <span class="spinner-border spinner-border-sm" role="status"></span>
                                Generating...
                            </div>
                            <div v-else>
                                Generate
                            </div>
                        </button>
                        <button v-if="city.Complete && !isLoading" class="btn btn-primary btn-lg"
                            @click="downloadCSV()">
                            Download
                        </button>
                    </div>
                </div>
                <div class="row my-1">
                    <select class="custom-select" v-model="citySize" @change="onSelectChanged($event)" required>
                        <option value="" selected>City Size</option>
                        <option v-for="o in citySizeOptions" :value="o.name">{{ o.label() }}</option>
                    </select>
                </div>
                <div class="row my-1">
                    <select class="custom-select" v-model="prosperity" @change="onSelectChanged($event)" required>
                        <option v-for="o in prosperityOptions" :value="o">{{ o.Label }}</option>
                    </select>
                </div>
                <div class="row my-1 border p-3 bg-white rounded" v-if="prosperity.Label == 'Custom'">
                    <div class="container">
                        <h5>Caste Percentages</h5>
                        <div class="row">
                            <label class="form-label col-sm-4">Nobility</label>
                            <div class="col-sm-5">
                                <input type="range" class="custom-range" min="0" max="1" step="0.005"
                                    v-model="noblePercent" />
                            </div>
                            <div class="col-sm">{{ noblePercent * 100 }}%</div>
                        </div>
                        <div class="row">
                            <label class="form-label col-sm-4">Mercantile</label>
                            <div class="col-sm-5">
                                <input type="range" class="custom-range" min="0" max="1" step="0.005"
                                    v-model="mercantilePercent" />
                            </div>
                            <div class="col-sm">{{ mercantilePercent * 100 }}%</div>
                        </div>
                        <div class="row">
                            <label class="form-label col-sm-4">Tradesperson</label>
                            <div class="col-sm-5">
                                <input type="range" class="custom-range" min="0" max="1" step="0.005"
                                    v-model="tradePercent" />
                            </div>
                            <div class="col-sm">{{ tradePercent * 100 }}%</div>
                        </div>
                        <div class="row">
                            <label class="form-label col-sm-4">Peasant</label>
                            <div class="col-sm-5">
                                <input type="range" class="custom-range" min="0" max="1" step="0.005"
                                    v-model="peasantPercent" />
                            </div>
                            <div class="col-sm">{{ peasantPercent * 100 }}%</div>
                        </div>
                    </div>
                </div>
                <div class="row my-1">
                    <select class="custom-select" v-model="industry" @change="onSelectChanged($event)" required>
                        <option value="" selected>Major Industry</option>
                        <option v-for="o in industryOptions" :value="o">{{ o }}</option>
                    </select>
                </div>
                <!-- <div class="row my-1 border p-3 bg-white rounded">
                    <div class="input-group">
                        <label class="form-label">Generated Name Frequency</label>
                        <input type="range" class="custom-range w-75 mr-3" v-model="gen_name_range" />
                        <span>{{ gen_name_range }}%</span>
                    </div>
                </div> -->
                <div class="row my-1 border p-3 bg-white rounded">
                    <h5>Race Frequency</h5>
                    <p>
                    <h5><small class="text-muted">Some default values are already selected.</small></h5>
                    </p>
                    <table class="table">
                        <tr v-for="r in raceOptions">
                            <td>
                                <label class="form-label">{{r}}</label>
                            </td>
                            <td>
                                <select class="custom-select" :id="r.replace(' ','')" v-model="raceFreqSettings[r]"
                                    :class="frequencyClass[raceFreqSettings[r]]" @change="$forceUpdate()">
                                    <option value="">None</option>
                                    <option v-for="o in raceFreqOptions" :value="o" :class="frequencyClass[o]">{{ o }}
                                    </option>
                                </select>
                            </td>
                    </table>
                </div>
            </div>
            <div class="col-9">
                <div v-if="isLoading">
                    <div class="progress-bar" role="progressbar"
                        :style="`width: ${ !citygen ? 1 : Math.floor(100 * city.People.length/citygen.TotalPopSize)}%`">
                    </div>
                </div>
                <div :style="isLoading ? 'display:none' : ''">
                    <ul class="nav nav-tabs" id="resultTabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about"
                                role="tab">About</a>
                        </li>
                        <li v-if="city.Complete" class="nav-item" role="presentation">
                            <a class="nav-link" id="detail-tab" data-toggle="tab" href="#detail" role="tab">Details</a>
                        </li>
                        <li v-if="city.Complete" class="nav-item" role="presentation">
                            <a class="nav-link" id="people-tab" data-toggle="tab" href="#people" role="tab">People</a>
                        </li>
                        <li v-if="city.Complete" class="nav-item" role="presentation">
                            <a class="nav-link" id="business-tab" data-toggle="tab" href="#business"
                                role="tab">Businesses</a>
                        </li>
                        <li v-if="city.Complete" class="nav-item" role="presentation">
                            <a class="nav-link" id="inventory-tab" data-toggle="tab" href="#inventory"
                                role="tab">Inventories</a>
                        </li>
                        <li v-if="city.Complete" class="nav-item" role="presentation">
                            <a class="nav-link" id="stats-tab" data-toggle="tab" href="#stats" role="tab">Stats</a>
                        </li>
                    </ul>
                    <div class="tab-content p-3 bg-white border-left border-right border-bottom" id="resultTabContent">
                        <div class="tab-pane fade show active" id="about" role="tabpanel">
                            <h5>
                                Instructions
                            </h5>
                            <ol>
                                <li>Set the city size.</li>
                                <li>Select the major industry.</li>
                                <li>(Optional) Adjust how often races appear.</li>
                                <li>Click Generate!</li>
                            </ol>
                            <hr>
                            <h5>
                                Description
                            </h5>
                            <p>
                                I created this free tool to create a village, town, or city population with enough NPCs
                                to make the populations realistic for a medieval setting.
                            </p>
                            <h5>
                                Features
                            </h5>
                            <ul>
                                <li>Hundreds to thousands of NPCs created with names, families, jobs, personalities, and
                                    appearances.</li>
                                <li>Downloadable to CSV.</li>
                                <ul>
                                    <li>Even more details about NPCs are available in the CSV.</li>
                                </ul>
                                <li>Select how common/uncommon/rare each race is.</li>
                                <li>Businesses with distinct names and inventories.</li>
                                <ul>
                                    <li>Depending on the business, some items are always available, while others have a
                                        random chance of appearing. Not every smith has plate barding!</li>
                                    <li>Inventory items come mostly from the source books, but have been expanded to
                                        include jewels and other trinkets players might need for spell components.</li>
                                    <li>Some businesses are only available in Towns and Cities. Small villages may not
                                        have all the creature comforts.</li>
                                    <li>Some businesses offer services from the DMG like skilled/unskilled labor, coach
                                        cabs, and messengers.</li>
                                    <li>Taverns/Inns include pricing for all costs of living so you can choose the
                                        quality.</li>
                                </ul>
                                <li>Town descriptions based on roll tables from the DMG.</li>
                                <ul>
                                    <li>Presently these are just for flavor and do not translate to the NPCs generated.
                                    </li>
                                </ul>
                                <!-- <li>Schedules for each NPC so you can see who is at the pub or store when the PCs enter. -->
                                </li>
                                <li>Age distributions that make sense for medieval settings. It's not equal parts
                                    children, adults, and elderly.</li>
                                <li>Populations divided by caste that make sense. (Awful lotta farms...)</li>
                                <li>Ages adjusted for the NPC race.</li>
                            </ul>
                            <h5>
                                Uses
                            </h5>
                            <ul>
                                <li>Create new towns from scratch and edit it to fit your setting.</li>
                                <li>Supplement towns from existing adventures.</li>
                            </ul>
                            <p>
                                That last one comes in handy! Want to add a smith and wainwright to The Village of
                                Barovia in <em>Curse of Strahd</em>? Just copy them, their family, and their inventories
                                to your
                                notes. You don't need to bring the whole generated village along if you don't want!
                            </p>
                        </div>
                        <div v-if="city.Complete" class="tab-pane fade" id="detail" role="tabpanel">
                            <p>
                                This {{ city.Settings.CitySize.name }} (population
                                {{ city.People.length.toLocaleString() }}) features
                                <strong>{{ city.Details.notableTrait }}</strong> and is known for its
                                <strong>{{ city.Details.knownFor }}</strong>. Unfortunately, it is afflicted by
                                <strong>{{ city.Details.calamity }}</strong>.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="people" role="tabpanel">
                            <table class="table table-dark result-table" id="people_table" style="width: 100%;">
                                <thead>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Race</th>
                                    <th>Caste</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th>Spouse</th>
                                    <th>Family</th>
                                    <th>Works At</th>
                                    <!-- <th>Personality</th> -->
                                    <th>Appearance</th>
                                    <th>Strength</th>
                                    <th>Weakness</th>
                                    <th>Talent</th>
                                    <th>Manuerism</th>
                                    <th>Interaction</th>
                                </thead>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="business" role="tabpanel">
                            <h3>Shops</h3>
                            <table class="table table-dark result-table" id="business_table" style="width: 100%;">
                                <thead>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Owners</th>
                                    <th>Employees</th>
                                    <th>Description</th>
                                </thead>
                            </table>
                            <h3>Estates</h3>
                            <table class="table table-dark result-table" id="estate_table" style="width: 100%;">
                                <thead>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Owners</th>
                                    <th>Employees</th>
                                </thead>
                            </table>
                            <h3>Farms</h3>
                            <table class="table table-dark result-table" id="farm_table" style="width: 100%;">
                                <thead>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Owners</th>
                                    <th>Employees</th>
                                </thead>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="inventory" role="tabpanel">
                            <table class="table table-dark result-table" id="inventory_table" style="width: 100%;">
                                <thead>
                                    <th>Business</th>
                                    <th>Item</th>
                                    <th>Cost</th>
                                </thead>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="stats" role="tabpanel">
                            <h5>Race Distributions</h5>
                            <canvas id="race_graph" width="400" height="100"></canvas>
                            <h5>Age Distributions</h5>
                            <canvas id="age_graph" width="400" height="100"></canvas>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript"
        src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.21/b-1.6.3/b-html5-1.6.3/datatables.min.js"></script>
    <!-- TODO swap for prod version -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="static/js/stats.js"></script>
    <script src="static/js/enums.js"></script>
    <script src="static/js/names.js"></script>
    <script src="static/js/models.js"></script>
    <script src="static/js/namegen.js"></script>
    <script src="static/js/citygen.js"></script>
    <script>
        function doubleRaf(callback) {
            requestAnimationFrame(() => {
                requestAnimationFrame(callback)
            })
        }

        var dice = `<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dice-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M13 1H3a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3z"/>
  <circle cx="4" cy="4" r="1.5"/>
  <circle cx="12" cy="4" r="1.5"/>
  <circle cx="12" cy="12" r="1.5"/>
  <circle cx="12" cy="8" r="1.5"/>
  <circle cx="4" cy="12" r="1.5"/>
  <circle cx="4" cy="8" r="1.5"/>
</svg>`;

        Vue.component('reroll-btn', {
            props: ['id', 'entity'],
            template: `<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dice-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M13 1H3a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3z"/>
  <circle cx="4" cy="4" r="1.5"/>
  <circle cx="12" cy="4" r="1.5"/>
  <circle cx="12" cy="12" r="1.5"/>
  <circle cx="12" cy="8" r="1.5"/>
  <circle cx="4" cy="12" r="1.5"/>
  <circle cx="4" cy="8" r="1.5"/>
</svg>`
        });

        var prosperityOptions = [
            { Label: "Average Prosperity", noblePercent: 0.005, mercantilePercent: 0.015, tradePercent: 0.18, peasantPercent: 0.80 },
            { Label: "Destitute", noblePercent: 0.0025, mercantilePercent: 0.0075, tradePercent: 0.09, peasantPercent: 0.90 },
            { Label: "Prosperous", noblePercent: 0.01, mercantilePercent: 0.03, tradePercent: 0.36, peasantPercent: 0.60 },
            { Label: "Custom", noblePercent: 0.005, mercantilePercent: 0.015, tradePercent: 0.18, peasantPercent: 0.80 },
        ];

        var citygenapp = new Vue({
            el: '#citygenapp',
            data: {
                generateDisabled: true,
                citySizeOptions: CitySize,
                industryOptions: MajorIndustry,
                raceOptions: Race,
                raceFreqOptions: RaceFrequency,
                defaultRaceSettings: [
                    { race: Race.HUMAN, frequency: RaceFrequency.COMMON },
                    { race: Race.HALF_ELF, frequency: RaceFrequency.UNCOMMON },
                    { race: Race.DWARF, frequency: RaceFrequency.UNCOMMON },
                    { race: Race.ELF, frequency: RaceFrequency.RARE },
                    { race: Race.GNOME, frequency: RaceFrequency.RARE }],
                citySize: '',
                industry: '',
                gen_name_range: 0,
                city: new City(),
                citygen: null,
                isLoading: false,
                raceFreqSettings: {},
                stage: '',
                frequencyClass: {
                    Common: 'text-success',
                    Uncommon: 'text-warning',
                    Rare: 'text-danger',
                },
                prosperityOptions: prosperityOptions,
                prosperity: prosperityOptions[0],
                noblePercent: -1,
                mercantilePercent: -1,
                tradePercent: -1,
                peasantPercent: -1
            },
            mounted: function () {
                for (var i in this.raceOptions) {
                    var race = this.raceOptions[i];
                    var defaultSetting = this.defaultRaceSettings.filter(y => y.race == race)[0];
                    var freq = defaultSetting ? defaultSetting.frequency : '';
                    this.raceFreqSettings[race] = freq;
                }
                this.$forceUpdate();
            },
            updated: function () {
                // TODO handle invalid race settings and missing race settings

                this.updateProsperity();
            },
            computed: {
            },
            methods: {
                onSelectChanged(event) {
                    if (this.citySize && this.industry)
                        this.generateDisabled = false;
                },
                generate() {
                    this.isLoading = true;
                    doubleRaf(() => this.generateAsync());
                },
                async generateAsync() {
                    try {
                        console.log('Generating City...');
                        $('.result-table').DataTable().destroy();
                        var settings = {
                            CitySize: this.citySize,
                            Races: this.raceFreqSettings,
                            MajorIndustry: this.industry,
                            Prosperity: this.prosperity
                        }
                        this.citygen = new CityGenerator(settings);
                        this.city = await this.citygen.getNew();
                        this.initDataTables();
                        this.updateCharts();
                        console.log('Generating City complete.');
                    }
                    catch (e) {
                        console.log(e);
                    }
                    finally {
                        this.isLoading = false;
                    }
                },
                toggleSettings(event) {
                    $('#settings_col').collapse('toggle');
                    var button = $('#collapse-btn');
                    if (button.html() == '«')
                        button.html("Settings<br/>»");
                    else
                        button.html("«");
                },
                initDataTables() {
                    console.log('Initiating DataTables...');
                    if ($('.result-table').DataTable())
                        $('.result-table').DataTable().destroy();

                    var peopleArr = [];
                    var bizArray = [];
                    var farmArray = [];
                    var estateArray = [];
                    var inventoryArray = [];

                    if (this.city) {
                        console.log('Setting table data...');
                        peopleArr = this.city.People.map(x => [
                            x.Id,
                            `${x.fullName()}`,
                            x.Race,
                            x.Caste,
                            x.RaceAge,
                            x.Gender,
                            x.Spouse ?? '',
                            x.Family.displayValue(),
                            x.getBusiness() ? `${x.getBusiness()} (Owner)` : x.getEmployer() ?? '',
                            //x.Personality.toLabel(),
                            x.Appearance ?? '',
                            x.Strength ?? '',
                            x.Weakness ?? '',
                            x.Talent ?? '',
                            x.Manuerism ?? '',
                            x.Interaction ?? '',
                        ]);

                        bizArray = this.city.Businesses.filter(x => x.BusinessType != BusinessType.FARM && x.BusinessType != BusinessType.ESTATE).map(x => ({
                            Name: x.Name,
                            BusinessType: x.BusinessType.name,
                            Owners: x.Owners.map(o => o.fullName()).join(', '),
                            Employees: x.Employees.map(o => o.fullName()).join(', '),
                            Description: x.Description ?? '',
                        }));

                        farmArray = this.city.Businesses.filter(x => x.BusinessType == BusinessType.FARM).map(x => ({
                            Name: x.Name,
                            BusinessType: x.BusinessType.name,
                            Owners: x.Owners.map(o => o.fullName()).join(', '),
                            Employees: x.Employees.map(o => o.fullName()).join(', '),
                        }));

                        estateArray = this.city.Businesses.filter(x => x.BusinessType == BusinessType.ESTATE).map(x => ({
                            Name: x.Name,
                            BusinessType: x.BusinessType.name,
                            Owners: x.Owners.map(o => o.fullName()).join(', '),
                            Employees: x.Employees.map(o => o.fullName()).join(', '),
                        }));

                        for (var i = 0; i < this.city.Businesses.length; i++) {
                            var biz = this.city.Businesses[i];
                            for (var j = 0; j < biz.Inventory.length; j++) {
                                var item = biz.Inventory[j];
                                inventoryArray.push([
                                    biz.Name,
                                    item.Name,
                                    item.displayCost()
                                ])
                            }
                        }

                        console.log('Setting table data complete.');
                    }

                    var peopleTable = $('#people_table').DataTable({
                        "pageLength": 100,
                        'processing': true,
                        "scrollX": true,
                        autoWidth: true,
                        "fnInitComplete": function (oSettings) {
                            $(window).resize();
                        },
                        "fnDrawCallback": function (oSettings) {
                            $(window).trigger('resize');
                        },
                        data: peopleArr
                    });

                    var bizTable = $('#business_table').DataTable({
                        "pageLength": 10,
                        'processing': true,
                        data: bizArray,
                        columns: [
                            { data: 'Name' },
                            { data: 'BusinessType' },
                            { data: 'Owners' },
                            { data: 'Employees' },
                            { data: 'Description' },
                        ],
                    });

                    var farmTable = $('#farm_table').DataTable({
                        "pageLength": 100,
                        'processing': true,
                        data: farmArray,
                        columns: [
                            { data: 'Name' },
                            { data: 'BusinessType' },
                            { data: 'Owners' },
                            { data: 'Employees' },
                        ],
                    });

                    var estateTable = $('#estate_table').DataTable({
                        "pageLength": 10,
                        'processing': true,
                        data: estateArray,
                        columns: [
                            { data: 'Name' },
                            { data: 'BusinessType' },
                            { data: 'Owners' },
                            { data: 'Employees' },
                        ],
                    });

                    var inventoryTable = $('#inventory_table').DataTable({
                        "pageLength": 100,
                        'processing': true,
                        data: inventoryArray
                    });
                    this.$forceUpdate();
                    console.log('Initiating DataTables complete.');
                },
                updateCharts() {
                    var ctxAge = document.getElementById('age_graph').getContext('2d');
                    var ageData = [
                        this.city.People.filter(x => x.Age <= 10).length,
                        this.city.People.filter(x => x.Age > 10 && x.Age <= 20).length,
                        this.city.People.filter(x => x.Age > 20 && x.Age <= 30).length,
                        this.city.People.filter(x => x.Age > 30 && x.Age <= 40).length,
                        this.city.People.filter(x => x.Age > 40 && x.Age <= 50).length,
                        this.city.People.filter(x => x.Age > 50 && x.Age <= 60).length,
                        this.city.People.filter(x => x.Age > 60 && x.Age <= 70).length,
                        this.city.People.filter(x => x.Age > 70 && x.Age <= 80).length,
                        this.city.People.filter(x => x.Age > 80 && x.Age <= 90).length,
                        this.city.People.filter(x => x.Age > 90 && x.Age <= 100).length,
                    ];
                    var options = {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    };
                    var ageChart = new Chart(ctxAge, {
                        type: 'line',
                        data: {
                            labels: ['0-10', '11-20', '21-30', '31-40', '41-50', '51-60', '61-70', '71-80', '81-90', '91-100'],
                            datasets: [{
                                label: 'Age Count',
                                data: ageData,
                                borderWidth: 1
                            }]
                        },
                        options: options
                    });

                    var raceLabels = [];
                    for (var i in this.raceFreqSettings) {
                        if (this.raceFreqSettings[i])
                            raceLabels.push(i);
                    }
                    var raceData = [];
                    var raceColors = [];
                    for (var i = 0; i < raceLabels.length; i++) {
                        raceData.push(this.city.People.filter(x => x.Race == raceLabels[i]).length);

                        var r = CryptoRandom.random() * 159 + 32;
                        var g = CryptoRandom.random() * 159 + 32;
                        var b = CryptoRandom.random() * 159 + 32;
                        raceColors.push(`rgb(${r}, ${g}, ${b})`);
                    }

                    var ctxRace = document.getElementById('race_graph').getContext('2d');
                    var raceChart = new Chart(ctxRace, {
                        type: 'doughnut',
                        data: {
                            labels: raceLabels,
                            datasets: [{
                                label: 'Race Count',
                                data: raceData,
                                backgroundColor: raceColors
                                //borderWidth: 1
                            }]
                        }
                    });
                },
                getFrequencyClass(race) {
                    var f = this.raceFreqSettings[race];
                    if (f)
                        return this.frequencyClass[f];
                    else
                        return '';
                },
                downloadCSV() {
                    var rows = [
                        ['Each set of data will be proceeded by a header in square brackets: [].'],
                        [''],
                        ['[DESCRIPTION]'],
                        Object.keys(this.city.Details),
                        Object.values(this.city.Details),
                        [''],
                        ['[PEOPLE]'],
                        Object.keys(this.city.People[0]),
                    ];

                    for (var i = 0; i < this.city.People.length; i++) {
                        rows.push(Object.values(this.city.People[i]).map(x => this.csvClean(x)));
                    }

                    rows.push(['']);
                    rows.push(['[BUSINESSES]'])
                    rows.push(Object.keys(this.city.Businesses[0]));
                    for (var i = 0; i < this.city.Businesses.length; i++) {
                        rows.push(Object.values(this.city.Businesses[i]).map(x => this.csvClean(x)));
                    }

                    rows.push(['']);
                    rows.push(['[INVENTORY]'])
                    var invHeaders = ['Business', 'Item', 'Cost'].map(x => this.csvClean(x));
                    rows.push(invHeaders);
                    for (var i = 0; i < this.city.Businesses.length; i++) {
                        for (var j = 0; j < this.city.Businesses[i].Inventory.length; j++) {
                            var item = this.city.Businesses[i].Inventory[j];
                            var invData = [this.city.Businesses[i].Name, item.Name, item.displayCost()].map(x => this.csvClean(x));
                            rows.push(invData);
                        }
                    }

                    let csvContent = "data:text/csv;charset=utf-8," + rows.map(e => e.join(",")).join("\n");

                    var encodedUri = encodeURI(csvContent);
                    var link = document.createElement("a");
                    link.setAttribute("href", encodedUri);
                    link.setAttribute("download", "rpg_city.csv");
                    document.body.appendChild(link);
                    link.click();
                    link.remove();
                },
                csvClean(value) {
                    if (Array.isArray(value))
                        value = value.join('; ');
                    return '"' + (value ?? '') + '"';
                },
                updateProsperity() {
                    if (this.prosperity.Label == "Custom") {
                        var total = 1.0;

                        this.noblePercent = Math.min(total, this.noblePercent).toPrecision(3);
                        this.prosperity.noblePercent = this.noblePercent;
                        total = Math.max(0, total - this.prosperity.noblePercent);

                        this.mercantilePercent = Math.min(total, this.mercantilePercent).toPrecision(3);
                        this.prosperity.mercantilePercent = this.mercantilePercent;
                        total = Math.max(0, total - this.prosperity.mercantilePercent);

                        this.tradePercent = Math.min(total, this.tradePercent).toPrecision(3);
                        this.prosperity.tradePercent = this.tradePercent
                        total = Math.max(0, total - this.prosperity.tradePercent);

                        this.peasantPercent = total.toPrecision(3)
                        this.prosperity.peasantPercent = this.peasantPercent;
                    }
                    else {
                        this.noblePercent = this.prosperity.noblePercent;
                        this.mercantilePercent = this.prosperity.mercantilePercent;
                        this.tradePercent = this.prosperity.tradePercent;
                        this.peasantPercent = this.prosperity.peasantPercent;
                    }
                }
            }
        });

        $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
            $('.result-table').DataTable().columns.adjust();
        })
    </script>
</body>

</html>