<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Fantasy City Generator</title>
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.21/b-1.6.3/b-html5-1.6.3/datatables.min.css" />
</head>

<body class="bg-light">

    <div class="container-lg px-5" id="citygenapp">
        <p class="display-1 text-center">
            Fantasy City Generator
        </p>

        <div class="row">
            <div class="col-2 collapse show" id="settings_col">
                <div class="row my-1">
                    <div class="col text-center">
                        <button class="btn btn-success btn-lg" @click="generate()"
                            :disabled="generateDisabled">Generate</button>
                    </div>
                </div>
                <div class="row my-1">
                    <select class="custom-select" v-model="citySize" @change="onSelectChanged($event)" required>
                        <option value="" selected>City Size</option>
                        <option v-for="o in citySizeOptions" :value="o.name">{{ o.name }}</option>
                    </select>
                </div>
                <div class="row my-1">
                    <select class="custom-select" v-model="industry" @change="onSelectChanged($event)" required>
                        <option value="" selected>Major Industry</option>
                        <option v-for="o in industryOptions" :value="o">{{ o }}</option>
                    </select>
                </div>
                <div class="row my-1 border p-3 bg-white rounded" hidden>
                    <div class="input-group">
                        <label class="form-label">Generated Name Frequency</label>
                        <input type="range" class="custom-range w-75 mr-3" v-model="gen_name_range" />
                        <span>{{ gen_name_range }}%</span>
                    </div>
                </div>
                <div class="row my-1 border p-3 bg-white rounded">
                    <h5>Race Frequency</h5>
                    <table class="table">
                        <tr v-for="r in raceOptions">
                            <td>
                                <label class="form-label">{{r}}</label>
                            </td>
                            <td>
                                <select class="custom-select" :id="r.replace(' ','')">
                                    <option value="" selected>None</option>
                                    <option v-for="o in raceFreqOptions" :value="o">{{ o }}</option>
                                </select>
                            </td>
                    </table>
                </div>
            </div>
            <div v-if="city" class="col-auto h-auto px-1" hidden>
                <button class="btn h-100" @click="toggleSettings($event)" id="collapse-btn">&laquo;</button>
            </div>
            <div class="col">
                <div v-if="isLoading">
                    <h1>Loading...</h1>
                </div>
                <div v-else-if="city">
                    <ul class="nav nav-tabs" id="resultTabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="people-tab" data-toggle="tab" href="#people"
                                role="tab">People</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="business-tab" data-toggle="tab" href="#business"
                                role="tab">Businesses</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="inventory-tab" data-toggle="tab" href="#inventory"
                                role="tab">Inventories</a>
                        </li>
                    </ul>
                    <div class="tab-content p-3 bg-white border-left border-right border-bottom" id="resultTabContent">
                        <div class="tab-pane fade show active" id="people" role="tabpanel">
                            <table class="table table-dark result-table" id="people_table" style="width: 100%;">
                                <thead>
                                    <td>Name</td>
                                    <td>Race</td>
                                    <td>Caste</td>
                                    <td>Age</td>
                                    <td>Gender</td>
                                    <td>Spouse</td>
                                    <td>Family</td>
                                    <td>Works At</td>
                                    <td>Appearance</td>
                                </thead>
                                <tr v-for="p in city.People">
                                    <td>{{ p.fullName() }}</td>
                                    <td>{{ p.Race }}</td>
                                    <td>{{ p.Caste.name }}</td>
                                    <td>{{ p.RaceAge }}</td>
                                    <td>{{ p.Gender }}</td>
                                    <td>{{ p.Spouse }}</td>
                                    <td>{{ p.Family.displayValue() }}</td>
                                    <td>
                                        <p v-if="p.getBusiness()">{{ p.getBusiness() }} (Owner)</p>
                                        <p v-if="p.getEmployer()">{{ p.getEmployer() }}</p>
                                    </td>
                                    <td>{{ p.Appearance }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="business" role="tabpanel">
                            <table class="table table-dark result-table" id="business_table" style="width: 100%;">
                                <thead>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Owners</td>
                                    <td>Employees</td>
                                    <td>Description</td>
                                </thead>
                                <tr v-for="b in city.Businesses">
                                    <td>{{ b.Name }}</td>
                                    <td>{{ b.BusinessType.name }}</td>
                                    <td>
                                        <p v-for="o in b.Owners">
                                            {{ o.fullName() }}
                                        </p>
                                    </td>
                                    <td>
                                        <p v-for="e in b.Employees">
                                            {{ e.fullName() }}
                                        </p>
                                    </td>
                                    <td>{{ b.Description }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="inventory" role="tabpanel">...</div>
                    </div>
                </div>
                <div v-else class="bg-secondary w-100 h-100 p-3">
                    <ol class="h4 text-light">
                        <li>Set the city size.</li>
                        <li>Select the major industry.</li>
                        <li>(Optional) Adjust how often races appear.</li>
                        <li>Click Generate!</li>
                    </ol>
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript"
        src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.21/b-1.6.3/b-html5-1.6.3/datatables.min.js"></script>
    <!-- TODO swap for prod version -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="static/js/stats.js"></script>
    <script src="static/js/enums.js"></script>
    <script src="static/js/names.js"></script>
    <script src="static/js/models.js"></script>
    <script src="static/js/citygen.js"></script>
    <script>
        var citygenapp = new Vue({
            el: '#citygenapp',
            data: {
                generateDisabled: true,
                citySizeOptions: CitySize,
                industryOptions: MajorIndustry,
                raceOptions: Race,
                raceFreqOptions: RaceFrequency,
                defaultRaceSettings: [
                    { race: Race.HUMAN, frequency: RaceFrequency.COMMON },
                    { race: Race.HALF_ELF, frequency: RaceFrequency.UNCOMMON },
                    { race: Race.DWARF, frequency: RaceFrequency.RARE },
                    { race: Race.ELF, frequency: RaceFrequency.RARE }],
                citySize: '',
                industry: '',
                gen_name_range: 0,
                city: null,
                isLoading: false,
                raceFreqSettings: []
            },
            mounted: function () {
                this.defaultRaceSettings.forEach(s => {
                    var id = s.race.replace(' ', '');
                    $(`#${id}`).val(s.frequency).change();
                });
            },
            updated: function () {
                this.initDataTables();
                this.raceFreqSettings = [];
                Object.keys(Race).forEach(k => {
                    var race = Race[k];
                    var id = race.replace(' ', '');
                    var frequency = $(`#${id}`).children("option:selected").val();
                    if (frequency)
                        this.raceFreqSettings.push({ race: race, frequency: frequency });
                });
            },
            methods: {
                onSelectChanged(event) {
                    if (this.citySize && this.industry)
                        this.generateDisabled = false;
                },
                generate() {
                    this.isLoading = true;
                    this.generateAsync();
                    var thisApp = this;
                    setTimeout(function () { thisApp.initDataTables(); }, 1000);
                },
                async generateAsync() {
                    try {
                        console.log('generating...');
                        $('.result-table').DataTable().destroy();
                        var settings = {
                            CitySize: this.citySize,
                            Races: this.raceFreqSettings,
                        }
                        var cg = new CityGenerator(settings);
                        this.city = await cg.getNew();
                        console.log('done.');
                    }
                    catch (e) {
                        console.log(e);
                    }
                    finally {
                        this.isLoading = false;
                    }
                },
                toggleSettings(event) {
                    $('#settings_col').collapse('toggle');
                    var button = $('#collapse-btn');
                    if (button.html() == '«')
                        button.html("Settings<br/>»");
                    else
                        button.html("«");
                },
                initDataTables() {
                    if ($('.result-table').DataTable())
                        $('.result-table').DataTable().destroy();
                    $('.result-table').DataTable({
                        "pageLength": 100,
                        dom: 'Blfrtip',
                        buttons: [
                            'csv', 'excel',
                        ]
                    });
                }
            }
        })
    </script>
</body>

</html>