.paginate_button > a{
    background-color: #212529!important;
}

.paginate_button.active > a{
    background-color: #0d6efd!important;
}

.nav-link.active {
    background-color: #212529!important;
    color: white!important;
}